{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner carousel_height">
        <div class="carousel-item active">
            <img src="{% static 'images/forest_cart.png' %}" class="d-block w-100" alt="Forest Cart">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/ploughs.png' %}" class="d-block w-100" alt="Ploughs">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/tools.png' %}" class="d-block w-100" alt="Plough Tools">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container-fluid section-gutter">
    <div class="row">
        <div class="col">
            <h2 class="decorated"><span>About</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col section-font">
            <p>The Bealby plough making business was started by George Bealby in
                1821.
                It was a thriving business, supplying ploughs and providing plough
                maintenance to a wide geography of customers ranging from Kings
                Lynn (75m) to Sheffield (56m)
                The business premises, built in 1858, is situated at Brook House, North
                Collingham; the last property as you leave the village on the Besthorpe
                Road. The property, including the workshop, remains in family
                ownership, and currently houses the Cat Asylum Brewery.
                The Bealby family were relatively wealthy. Brook House is a grand, stand
                alone, three storey house, having both a white and red wine cellar. Two
                large Clam shells straddle the front door, dating back to the late 19 th
                century. They also owned property in the village (ref1).
                The Workshop consisted of a bellows driven forge, which was
                surrounded by twelve artisan bench positions, each having their own set
                of tools.
                Shoeing horses was also a main part of the trade.</p>
        </div>
    </div>
</div>

{% endblock %}v