{% extends "base.html" %}
{% load static %}
{% block page_header %}

<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
   <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
   </div>
   <div class="carousel-inner">
      <div class="carousel-item carousel_height active" data-bs-interval="6000">
         <img src="{% static 'images/carousel/brook_house.jpg' %}" class="d-block w-100" alt="...">
         <div class="carousel-caption d-none d-md-block">
            <h5>Brook House</h5>
            <p>Bealby Plough Workers</p>
         </div>
      </div>
      <div class="carousel-item carousel_height" data-bs-interval="6000">
         <img src="{% static 'images/carousel/tools.jpg' %}" class="d-block w-100" alt="...">
         <div class="carousel-caption d-none d-md-block">
            <h5>Workshop Tools</h5>
            <p>...</p>
         </div>
      </div>
      <div class="carousel-item carousel_height" data-bs-interval="6000">
         <img src="{% static 'images/carousel/tree_plough.jpg' %}" class="d-block w-100" alt="...">
         <div class="carousel-caption d-none d-md-block">
            <h5>Tree Plough</h5>
            <p>S...</p>
         </div>
      </div>
   </div>

   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
   <span class="carousel-control-next-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Next</span>
   </button>

</div>

<!--About-->
<div class="container-fluid section-gutter-main-header">
   <div class="row section-header-gutter-about">
      <div class="col">
         <h4 class="decorated"><span>About</span></h4>
      </div>
   </div>
   {% for home_about in home_abouts %}
   <div class="row">
      <div class="col-lg-12 section-content">
         <p>{{ home_about.about_paragraph_1 }}
         </p>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6 mt-4">
         <img src="{{ home_about.about_image_1.url }}" class="img-fluid" alt="{{ home_about.about_image_description_1 }}">
         <p class="section-image-title mt-2">{{ home_about.about_image_title_1|default_if_none:"" }}</p>
         <p class="section-image-title-sub">{{ home_about.about_image_description_1 }}</p>
      </div>
      <div class="col-lg-6 mt-4 d-none d-lg-block">
         <img src="{{ home_about.about_image_2.url }}" class="img-fluid" alt="{{ home_about.about_image_description_2 }}">
         <p class="section-image-title mt-2">{{ home_about.about_image_title_2|default_if_none:"" }}</p>
         <p class="section-image-title-sub">{{ home_about.about_image_description_2 }}</p>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12 section-content mt-1  ">
         <p> {{ home_about.about_paragraph_2 }}
         </p>
      </div>
      <div class="col-lg-6 mt-4 d-lg-none">
         <img src="{{ home_about.about_image_2.url }}" class="img-fluid" alt="{{ home_about.about_image_description_2 }}">
         <p class="section-image-title mt-2">{{ home_about.about_image_title_2|default_if_none:"" }}</p>
         <p class="section-image-title-sub">{{ home_about.about_image_description_2 }}</p>
      </div>
   </div>
   {% endfor %}
</div>

<!--Articles-->
<div class="container-fluid section-gutter">
   <div class="row section-header-gutter-about">
      <div class="col">
         <h4 class="decorated"><span>Articles</span></h4>
      </div>
   </div>
   {% for home_article in home_articles %}
   <div class="row">
      <div class="col-lg-4">
         <a href="{% url 'articles_1' %}">
            <div class="zoom">
               <img src="{{ home_article.article_image_1.url }}" class="img-fluid story-image" alt="{{ home_article.article_image_alt_text_1 }}" width="600" height="400">
            </div>
         </a>
         <a href="{% url 'articles_1' %}" class="text-links">
            <p class="section-title mt-2">{{ home_article.article_title_1|default_if_none:"" }}</p>
            <p class="section-title-sub">{{ home_article.article_description_1|default_if_none:"" }}&emsp;<i class="fa-solid fa-arrow-right"></i></p>
         </a>
      </div>
      <div class="col-lg-4">
         <a href="{% url 'articles_2' %}">
            <div class="zoom">
               <img src="{{ home_article.article_image_2.url }}" class="img-fluid story-image" alt="{{ home_article.article_image_alt_text_2 }}" width="600" height="400">
            </div>
         </a>
         <a href="{% url 'articles_2' %}" class="text-links">
            <p class="section-title mt-2">{{ home_article.article_title_2|default_if_none:"" }}</p>
            <p class="section-title-sub">{{ home_article.article_description_2|default_if_none:"" }}&emsp;<i class="fa-solid fa-arrow-right"></i></p>
         </a>
      </div>
      <div class="col-lg-4">
         <a href="{% url 'articles_3' %}">
            <div class="zoom">
               <img src="{{ home_article.article_image_3.url }}" class="img-fluid story-image" alt="{{ home_article.article_image_alt_text_3 }}" width="600" height="400">
            </div>
         </a>
         <a href="{% url 'articles_3' %}" class="text-links">
            <p class="section-title mt-2">{{ home_article.article_title_3|default_if_none:"" }}</p>
            <p class="section-title-sub">{{ home_article.article_description_3|default_if_none:"" }}&emsp;<i class="fa-solid fa-arrow-right"></i></p>
         </a>
      </div>
   </div>
   {% endfor %}
</div>

<!--Research-->
<div class="container-fluid section-gutter">
   <div class="row section-header-gutter-about">
      <div class="col">
         <h4 class="decorated"><span>Research</span></h4>
      </div>
   </div>
   {% for home_research in home_researches %}
   <div class="row">
      <div class="col-lg-4">
         <a href="{% url 'research_1' %}">
            <div class="zoom">
               <img src="{{ home_research.research_image_1.url }}" class="img-fluid story-image" alt="{{ home_research.research_image_alt_text_1 }}" width="600" height="400">
            </div>
         </a>
         <a href="{% url 'research_1' %}" class="text-links">
            <p class="section-title mt-2">{{ home_research.research_title_1|default_if_none:"" }}</p>
            <p class="section-title-sub">{{ home_research.research_description_1|default_if_none:"" }}&emsp;<i class="fa-solid fa-arrow-right"></i></p>
         </a>
      </div>
      <div class="col-lg-4">
         <a href="{% url 'research_2' %}">
            <div class="zoom">
               <img src="{{ home_research.research_image_2.url }}" class="img-fluid story-image" alt="{{ home_research.research_image_alt_text_2 }}" width="600" height="400">
            </div>
         </a>
         <a href="{% url 'research_2' %}" class="text-links">
            <p class="section-title mt-2">{{ home_research.research_title_2|default_if_none:"" }}</p>
            <p class="section-title-sub">{{ home_research.research_description_2|default_if_none:"" }}&emsp;<i class="fa-solid fa-arrow-right"></i></p>
         </a>
      </div>
      <div class="col-lg-4">
         <a href="{% url 'research_3' %}">
            <div class="zoom">
               <img src="{{ home_research.research_image_3.url }}" class="img-fluid story-image" alt="{{ home_research.research_image_alt_text_3 }}" width="600" height="400">
            </div>
         </a>
         <a href="{% url 'research_3' %}" class="text-links">
            <p class="section-title mt-2">{{ home_research.research_title_3|default_if_none:"" }}</p>
            <p class="section-title-sub">{{ home_research.research_description_3|default_if_none:"" }}&emsp;<i class="fa-solid fa-arrow-right"></i></p>
         </a>
      </div>
   </div>
   {% endfor %}
</div>

<!--Gallery-->
<div class="container-fluid section-gutter index-mb">
   <div class="row section-header-gutter-about">
      <div class="col">
         <h4 class="decorated"><span>Gallery</span></h4>
      </div>
   </div>
   {% for home_gallery in home_galleries %}
   <div class="row">
      <div class="col-lg-4">
         <a href="{% url 'gallery_1' %}">
            <div class="zoom">
               <img src="{{ home_gallery.gallery_image_1.url }}" class="img-fluid story-image" alt="{{ home_gallery.gallery_image_alt_text_1 }}" width="600" height="400">
            </div>
         </a>
         <a href="{% url 'gallery_1' %}" class="text-links">
            <p class="section-title mt-2">Ploughs</p>
            <p class="section-title-sub">{{ home_gallery.gallery_description_1|default_if_none:"" }}&emsp;<i class="fa-solid fa-arrow-right"></i></p>
         </a>
      </div>
      <div class="col-lg-4">
         <a href="{% url 'gallery_2' %}">
            <div class="zoom">
               <img src="{{ home_gallery.gallery_image_2.url }}" class="img-fluid story-image" alt="{{ home_gallery.gallery_image_alt_text_2 }}" width="600" height="400">
            </div>
         </a>
         <a href="{% url 'gallery_2' %}" class="text-links">
            <p class="section-title mt-2">Workshop Tools</p>
            <p class="section-title-sub">{{ home_gallery.gallery_description_2|default_if_none:"" }}&emsp;<i class="fa-solid fa-arrow-right"></i></p>
         </a>
      </div>
      <div class="col-lg-4">
         <a href="{% url 'gallery_3' %}">
            <div class="zoom">
               <img src="{{ home_gallery.gallery_image_3.url }}" class="img-fluid story-image" alt="{{ home_gallery.gallery_image_alt_text_3 }}" width="600" height="400">
            </div>
         </a>
         <a href="{% url 'gallery_3' %}" class="text-links">
            <p class="section-title mt-2">Bealbys</p>
            <p class="section-title-sub">{{ home_gallery.gallery_description_3|default_if_none:"" }}&emsp;<i class="fa-solid fa-arrow-right"></i></p>
         </a>
      </div>
   </div>
   {% endfor %}
</div>
<button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!--Scroll to top feature-->
<script>

    //Scroll to Top
    function scrollFunction() {
        var myScrollToTopBtn = document.getElementById("my-scroll-to-top-btn");
        if (window.pageYOffset > 700) {
            myScrollToTopBtn.style.display = "block";
            myScrollToTopBtn.style.visibility = "visible";
        } else {
            myScrollToTopBtn.style.display = "none";
            myScrollToTopBtn.style.visibility = "hidden";
        }
    }

    window.onscroll = function () { scrollFunction() };

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>

{% endblock %}