{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div id="carouselExampleCaptions" class="carousel slide d-none d-md-block">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item carousel_height active">
      <img src="{% static 'images/carousel/brook_house.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Brook House</h5>
        <p>Bealby Plough Workers</p>
      </div>
    </div>
    <div class="carousel-item carousel_height">
      <img src="{% static 'images/carousel/tools.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Workshop Tools</h5>
        <p>...</p>
      </div>
    </div>
    <div class="carousel-item carousel_height">
      <img src="{% static 'images/carousel/tree_plough.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tree Plough</h5>
        <p>S...</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!---About--->
<div class="container-fluid section-gutter">
    <div class="row mb-4">
        <div class="col">
            <h4 class="decorated"><span>About</span></h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12 section-content">
            <p>The Bealby plough making business was started by George Bealby in
                1821.
                It was a thriving business, supplying ploughs and providing plough
                maintenance to a wide geography of customers ranging from Kings
                Lynn (75m) to Sheffield (56m)
                The business premises, built in 1858, is situated at Brook House, North
                Collingham; the last property as you leave the village on the Besthorpe
                Road. The property, including the workshop, remains in family
                ownership, and currently houses the Cat Asylum Brewery.
            </p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-6 text-center">
            <img src="{% static 'images/about/plough.png' %}" class="img-fluid" alt="Plough" width="600" height="400">
        </div>
        <div class="col-lg-6 text-center">
            <img src="{% static 'images/about/brook_house.png' %}" class="img-fluid" alt="Brook House" width="600" height="400">
        </div>
    </div>
    <div class="row"></div>
    <div class="col-lg-12 section-content">
        <p> The Bealby family were relatively wealthy. Brook House is a grand, stand
            alone, three storey house, having both a white and red wine cellar. Two
            large Clam shells straddle the front door, dating back to the late 19 th
            century. They also owned property in the village (ref1).
            The Workshop consisted of a bellows driven forge, which was
            surrounded by twelve artisan bench positions, each having their own set
            of tools.
            Shoeing horses was also a main part of the trade.
        </p>
    </div>
    </div>
</div>

<!---Stories--->
<div class="container-fluid section-gutter">
    <div class="row mb-4">
        <div class="col">
            <h4 class="decorated"><span>Stories</span></h4>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-6 text-center story_images">
            <img src="{% static 'images/stories/bealby_sibling.jpg' %}" class="img-fluid" alt="" width="600" height="400">
        </div>
        <div class="col-lg-6 text-center story_images">
            <img src="{% static 'images/stories/walter_alice_bealby.jpg' %}" class="img-fluid" alt="" width="600" height="400">
        </div>
    </div>
</div>

<!---Research--->
<div class="container-fluid section-gutter">
    <div class="row mb-4">
        <div class="col">
            <h4 class="decorated"><span>Research</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4 section-font">
            <p>The Bealby plough making business was started by George Bealby in
                1821.
                It was a thriving business, supplying ploughs and providing plough
               </p>
        </div>
        <div class="col-4 section-font">
            <p>The Bealby plough making business was started by George Bealby in
                1821.
                It was a thriving business, supplying ploughs and providing plough
               </p>
        </div>
        <div class="col-4 section-font">
            <p>The Bealby plough making business was started by George Bealby in
                1821.
                It was a thriving business, supplying ploughs and providing plough
               </p>
        </div>
    </div>
</div>

<!---Gallery--->
<div class="container-fluid section-gutter">
    <div class="row mb-4">
        <div class="col">
            <h4 class="decorated"><span>Gallery</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4 section-font">
            <p>The Bealby plough making business was started by George Bealby in
                1821.
                It was a thriving business, supplying ploughs and providing plough
               </p>
        </div>
        <div class="col-4 section-font">
            <p>The Bealby plough making business was started by George Bealby in
                1821.
                It was a thriving business, supplying ploughs and providing plough
               </p>
        </div>
        <div class="col-4 section-font">
            <p>The Bealby plough making business was started by George Bealby in
                1821.
                It was a thriving business, supplying ploughs and providing plough
               </p>
        </div>
    </div>
</div>

{% endblock %}v