{% extends "base.html" %} {% load static %} {% block content %}

<!---Gallery--->
<div class="container-fluid section-gutter-2">
  <div class="row mb-5">
    <div class="col">
      <h4 class="decorated"><span>Bealbys</span></h4>
    </div>
  </div>
  <div class="row">
    {% for gallery_3 in galleries_3 %}
    <div class="col-lg-6 col-md-6 gallery-image">
      {% if gallery_3.image %}
      <img
        loading="lazy"
        src="{{ gallery_3.image.url }}"
        srcset="{{ gallery_3.image.url }}"
        class="img-fluid image-shadow"
        alt="{{ gallery_3.image_description }}"
        width="600" height="400"
      />
      {% else %}
      <img
        src="{{ MEDIA_URL }}"
        class="img-fluid mt-5"
        alt="{{ gallery_3.image_description }}"
      />
      {% endif %}
      <p class="section-title mt-2">{{ gallery_3.image_title|default_if_none:"" }}</p>
      <p class="section-title-sub">{{ gallery_3.image_description|default_if_none:"" }}&emsp</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}