{% extends "base.html" %} {% load static %} {% block content %}

<!--Gallery_1-->
<div class="container-fluid section-gutter-main-header page-bottom-margin">
   <div class="row section-header-gutter">
      <div class="col">
         <h4 class="decorated page-header"><span>Ploughs</span></h4>
      </div>
   </div>
   <div class="row">
      {% for gallery_1 in galleries_1 %}
      <div class="col-lg-6 col-md-6 gallery-image mx-auto">
         {% if gallery_1.image %}
         <img
            loading="lazy"
            src="{{ gallery_1.image.url }}"
            srcset="{{ gallery_1.image.url }}"
            class="img-fluid image-shadow"
            alt="{{ gallery_1.image_description }}"
            />
         {% else %}
         <img
            src="{{ MEDIA_URL }}"
            class="img-fluid mt-5"
            alt="{{ gallery_1.image_description }}"
            />
         {% endif %}
         <p class="section-title mt-2">{{ gallery_1.image_title|default_if_none:"" }}</p>
         <p class="section-title-sub">{{ gallery_1.image_description|default_if_none:"" }}</p>
      </div>
      {% endfor %}
   </div>
</div>
<button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!--Scroll to top feature-->
<script>

    //Scroll to Top
    function scrollFunction() {
        var myScrollToTopBtn = document.getElementById("my-scroll-to-top-btn");
        if (window.pageYOffset > 700) {
            myScrollToTopBtn.style.display = "block";
            myScrollToTopBtn.style.visibility = "visible";
        } else {
            myScrollToTopBtn.style.display = "none";
            myScrollToTopBtn.style.visibility = "hidden";
        }
    }

    window.onscroll = function () { scrollFunction() };

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>

{% endblock %}