{% extends "base.html" %} {% load static %} {% block content %}

<!---Gallery--->
<div class="container-fluid section-gutter-2">
  <div class="row mb-4">
    <div class="col">
      <h4 class="decorated"><span>Ploughs</span></h4>
    </div>
  </div>
  <div class="row">
    {% for gallery_1 in galleries_1 %}
    <div class="col-lg-4 col-md-6 pt-4">
      {% if gallery_1.image %}
      <img
        loading="lazy"
        src="{{ gallery_1.image.url }}"
        srcset="{{ gallery_1.image.url }}"
        class="img-fluid"
        alt="{{ gallery_1.image_description }}"
        width="600" height="400"
      />
      {% else %}
      <img
        src="{{ MEDIA_URL }}"
        class="img-fluid mt-5"
        alt="{{ gallery_1.image_description }}"
      />
      {% endif %}
      <p class="section-title mt-2">{{ gallery_1.image_title|default_if_none:"" }}</p>
      <p class="section-title-sub">{{ gallery_1.image_description|default_if_none:"" }}&emsp</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
