@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    height: 100%;
}

body {
    color: black;
    height: calc(100vh - 164px);
    background: #FFFFFF;
    font-family: "Noticia Text", serif;
}

.header-container {
    margin-top: 3rem;
}

/* Navbar */

.navbar {
    --bs-navbar-nav-link-padding-x: 1.5rem;
}

.nav-link {
    font-family: "Noticia Text", serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}

.nav_margins a {
    margin-right: 1rem;
    margin-left: 1rem;
}

/* Sections */

.section-font p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    word-spacing: 10px;
}

/* headlines with lines */

.decorated {
    overflow: hidden;
    text-align: center;
}

.decorated>span {
    position: relative;
    display: inline-block;
}

.decorated>span:before, .decorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 1800px;
    /* half of limiter*/
    margin: 0 20px;
    color: rgba(239, 125, 25, 0.3);
}

.decorated>span:before {
    right: 100%;
}

.decorated>span:after {
    left: 100%;
}

/* Secions_gutter */

.section-gutter {
    --bs-gutter-x: 26.5rem;
    margin-top: 3rem;
}

/* Carousel */

.carousel_height img {
    max-height: 600px;
}