{% load static %}
<div class="container-fluid fixed-top d-none d-md-block">
  <div class="row">
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <a href="" class="logo_desktop"
          ><img
            src="{% static 'images/logo/logo_grey.png' %}"
            class="img-fluid"
            alt="Bealby Plough Logo"
        /></a>
        <div id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Articles
              </a>
              <ul
                class="dropdown-menu dropdown-menu-links"
                aria-labelledby="navbarDropdownMenuLink"
              >
              <li>
                <a class="dropdown-item" href="#">The Thoroton Society</a>
              </li>
                <li>
                  <a class="dropdown-item" href="#">Workshop Anecdotes</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Family Recollections</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Research
              </a>
              <ul
                class="dropdown-menu dropdown-menu-links"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="#">Invoice Journals</a></li>
                <li><a class="dropdown-item" href="#">Brook House</a></li>
                <li><a class="dropdown-item" href="#">Family Tree</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Gallery
              </a>
              <ul
                class="dropdown-menu dropdown-menu-links"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="#">Ploughs</a></li>
                <li><a class="dropdown-item" href="#">Workshop Tools</a></li>
                <li><a class="dropdown-item" href="#">Bealbys</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
