{% load static %}
<div class="container-fluid d-none d-md-block">
  <div class="row">
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid navbar-desktop">
        <a href="{% url 'home' %}" class="logo_desktop"
          ><img
            src="{% static 'images/logo/logo_white.png' %}"
            class="img-fluid"
            alt="Bealby Plough Logo"
        /></a>
        <div id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item topnav">
              <a class="nav-link nav-text" href="{% url 'home' %}">Home</a>
            </li>
            <li class="dropdown topnav">
              <a
                class="nav-link dropdown-toggle nav-text"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Articles
              </a>
              <ul
                class="dropdown-menu dropdown-menu-links"
                aria-labelledby="navbarDropdownMenuLink"
              ><li class="topnav">
                  <a class="dropdown-item nav-text" href="{% url 'articles_1' %}">The Thoroton Society</a>
                </li>
                <li class="topnav">
                  <a class="dropdown-item nav-text" href="{% url 'articles_2' %}">Workshop Anecdotes</a>
                </li>
                <li class="topnav">
                  <a class="dropdown-item nav-text" href="{% url 'articles_3' %}">Family Recollections</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown topnav">
              <a
                class="nav-link nav-text dropdown-toggle"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Research
              </a>
              <ul
                class="dropdown-menu dropdown-menu-links"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li class="topnav"><a class="dropdown-item" href="{% url 'research_1' %}">Invoice Journals</a></li>
                <li class="topnav"><a class="dropdown-item" href="{% url 'research_2' %}">Brook House</a></li>
                <li class="topnav"><a class="dropdown-item" href="{% url 'research_3' %}">Bealby Family</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link nav-text dropdown-toggle"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Gallery
              </a>
              <ul
                class="dropdown-menu dropdown-menu-links"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li class="topnav"><a class="dropdown-item" href="{% url 'bealby_family' %}">Bealby Family</a></li>
                <li class="topnav"><a class="dropdown-item" href="{% url 'brook_house' %}">Brook House</a></li>
                <li class="topnav"><a class="dropdown-item" href="{% url 'bealby_workshop' %}">The Bealby Workshop</a></li>
                <li class="topnav"><a class="dropdown-item" href="{% url 'workshop_tool' %}">Workshop Tools</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<!---The code below searches for the href of the active page
    in the list elements < a >. Then adds the class "active"
    with addClass('active') to the active pages < a > so that
    you can now call it via CSS. Put this code in the head of
    your html file. -->

<script>

  $(function () {
    $("a").each(function () {
      if ($(this).prop("href") == window.location.href) {
        $(this).addClass("active");
        $(this).parents("li").addClass("active");
      }
    });
  }); 

</script>

