{% load static %}

<div id="footer" class="container-fluid footernav">
  <div class="row">
    <div class="col-12" id="footer-contact">
      <a href="https://mail.google.com/mail/?view=cm&to=bealbyploughs@gmail.com" target="_blank">
        <p>bealbyploughs@gmail.com&nbsp;<i class="fa-solid fa-envelope"></i></p>
      </a>      
    </div>
    <div class="col-12" id="footer-copyright">
      <p>
        Copyright&emsp;<i class="far fa-copyright"></i> 2025 Murray Bealby. All
        Rights Reserved. Django/ Python
      </p>
    </div>
  </div>
</div>
