{% load static %}

<div id="footer" class="container-fluid footernav">
  <div class="row">
    <div class="col-12" id="footer-contact">
      <p>bealbyploughs@gmail.com</p>
      <a href="https://mail.google.com/mail/?view=cm&to=bealbyploughs@gmail.com" target="_blank" title="Email via Gmail">
        <i class="fa-solid fa-envelope" style="color:#D44638;"></i>
      </a>
      &nbsp;
      <a href="https://outlook.office.com/mail/deeplink/compose?to=bealbyploughs@gmail.com" target="_blank" title="Email via Outlook/Hotmail">
        <i class="fa-solid fa-envelope" style="color:#0072C6;"></i>
      </a>
    </div>
    <div class="col-12" id="footer-copyright">
      <p>
        Copyright&emsp;<i class="far fa-copyright"></i> 2025 Murray Bealby. All
        Rights Reserved. Django/ Python
      </p>
    </div>
  </div>
</div>
