{% load static %}

<!---Navbar Mobile-->
<div class="d-md-none logo_desktop">
  <img
    src="{% static 'images/logo/logo_grey.png' %}"
    class="img-fluid"
    alt="Bealby Plough Logo"
  />
  <input type="checkbox" id="toggle" class="input-toggler" />
  <label for="toggle" class="menu-toggler">
    <span class="menu-toggler-line"></span>
    <span class="menu-toggler-line"></span>
    <span class="menu-toggler-line"></span>
  </label>

  <nav class="sidebar">
    <ul class="mob_nav">
      <li><a class="menu-link menu-link-home" href="{% url 'home' %}">Home</a></li>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Articles
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body"><a class="" href="{% url 'articles_1' %}">The Thoroton Society</a></div>
            <div class="accordion-body"><a class="" href="{% url 'articles_2' %}">Workshop Anecdotes</a></div>
            <div class="accordion-body"><a class="" href="{% url 'articles_3' %}">Family Recollections</a></div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Research
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body"><a class="" href="{% url 'research_1' %}">Invoice Journals</a></div>
            <div class="accordion-body"><a class="" href="{% url 'research_2' %}">Brook House</a></div>
            <div class="accordion-body"><a class="" href="{% url 'research_3' %}">Bealby Family</a></div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Gallery
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body"><a class="" href="{% url 'gallery_1' %}">Ploughs</a></div>
            <div class="accordion-body"><a class="" href="{% url 'gallery_2' %}">Workshop Tools</a></div>
            <div class="accordion-body"><a class="" href="{% url 'gallery_3' %}">Bealbys</a></div>
          </div>
        </div>
      </div>
    </ul>
  </nav>
</div>
