{% load static %}

<!---Navbar Mobile-->
<div class="d-md-none logo_desktop">
    <img src="{% static 'images/logo/logo_grey.png' %}" class="img-fluid"
                    alt="Bealby Plough Logo" />
    <input type="checkbox" id="toggle" class="input-toggler">
    <label for="toggle" class="menu-toggler mx-auto">
        <span class="menu-toggler-line"></span>
        <span class="menu-toggler-line"></span>
        <span class="menu-toggler-line"></span>
    </label>

    <nav class="sidebar">
        <ul>
            <li><a class="menu-link" href="">Home</a></li>
            <li><a class="menu-link" href="">About</a></li>
            <li><a class="menu-link" href="">Portfolio</a></li>
        </ul>
    </nav>
</div>