{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid section-gutter-2">
  <div class="row mb-4">
    <div class="col">
      <h4 class="decorated"><span>Workshop Anecdotes</span></h4>
    </div>
  </div>
 <!---Articles--->  
  <div class="row">
    {% for article_2 in articles_2 %}
    <div class="col-sm-12 col-lg-4">
      <h4 class="text-muted text-left mb-5 d-lg-none text-center">
        {{ article_2.title }}
      </h4>
      <img
        src="{{ article_2.article_image.url }}"
        class="img-fluid mt-5"
        alt="{{ article_2.article_image_description }}"
      />
    </div>
    <div class="col-sm-12 col-lg-8 text-muted">
      <h3 class="d-none d-lg-block">{{ article_2.title }}</h3>
      <h5><i>{{ article_2.name }}</i></h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        {{ article_2.text|linebreaksbr }}
      </p>
    </div>
    <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>
  {% endfor %}
  </div>
</div>

{% endblock %}
