{% extends "base.html" %} {% load static %} {% block content %}

<!--Article_3-->  
<div class="container-fluid section-gutter-main-header page-bottom-margin">
   <div class="row section-header-gutter">
      <div class="col">
         <h4 class="decorated page-header"><span>Family Recollectons</span></h4>
      </div>
   </div>
   <div class="row">
      {% for article_3 in articles_3 %}
      <h4 class="d-lg-none text-center">{{ article_3.title }}</h4>
      <div class="col-sm-12 col-lg-4">
         {% if article_3.article_image %}
         <div class="article-image">
            <img
               src="{{ article_3.article_image.url }}"
               class="img-fluid"
               alt="{{ article_3.article_image_description }}"
               />
            {% else %}
            <img
               src="{{ MEDIA_URL }}"
               class="img-fluid"
               alt="{{ article_3.article_image_description }}"
               />
            {% endif %}
         </div>
      </div>
      <div class="col-sm-12 col-lg-8">
         <h4 class="d-none d-lg-block">{{ article_3.title }}</h4>
         <div class="col-12 p-0">
            <div class="block-divider-sub mx-auto mt-0"></div>
         </div>
         <h5 class="mt-1"><i>By {{ article_3.author }}</i></h5>
         <div class="col-12 p-0">
            <div class="block-divider-sub mx-auto mt-0"></div>
         </div>
         <p class="pt-2 section-content">
            {{ article_3.text|linebreaksbr }}
         </p>
      </div>
      <div class="block-divider mx-auto mt-5 mb-5"></div>
      {% endfor %}
   </div>
</div>
<button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!--Scroll to top feature-->
<script>

    //Scroll to Top
    function scrollFunction() {
        var myScrollToTopBtn = document.getElementById("my-scroll-to-top-btn");
        if (window.pageYOffset > 700) {
            myScrollToTopBtn.style.display = "block";
            myScrollToTopBtn.style.visibility = "visible";
        } else {
            myScrollToTopBtn.style.display = "none";
            myScrollToTopBtn.style.visibility = "hidden";
        }
    }

    window.onscroll = function () { scrollFunction() };

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>

{% endblock %}