{% extends "base.html" %} {% load static %} {% block content %}

<!--Article_1-->
<div class="container-fluid section-gutter-main-header page-bottom-margin">
  <div class="row section-header-gutter-first">
    <div class="col">
      <h4 class="decorated page-header"><span>The Thoroton Society</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>Bealby, Blacksmith and Ploughmaker of North Collingham</h4>
      <p><i>By Jeremy Lodge</i></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 section-content">
      <p>
        This notice consists of two parts. Firstly, to highlight that the
        Society has digitised a number of account books from the above that are
        available to be used as a research resource. And secondly,
        communications that we have had concerning several items from the above.
      </p>
    </div>
  </div>
  <div class="row mb-4 mt-4">
    <div class="col-lg-12">
      <img
        src="{% static 'images/thoroton_society/newspaper_article.jpeg' %}"
        class="img-fluid"
        alt="Image. Stamford Mercury. 27th January 1871."
      />
      <p class="section-image-title mt-2">
        Image. Stamford Mercury. 27th January 1871
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        Bealby Account Books (late 1800s) - a Fascinating Research Resource.
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 section-content mt-1">
      <p>
        We have in our possession two and have been loaned four further account
        books for Bealby Ploughmakers of North Collingham. These are ‘Day Books’
        which show work done for clients on a day-by-day basis, complete with
        the sums charged. These include for example the costs of individual
        parts, usually plough shares, which the customer would have fitted
        themselves, whole ploughs, repairs &c.. There are also books which show
        similar information which are arranged by client.
      </p>
      <p>
        These books show the vast number of customers in Nottinghamshire and
        Lincolnshire and gives an indication of the number of local
        smallholders, many of whom are known locally for their other businesses
        and community roles.
      </p>
      <p>
        George Bealby started his plough making business in 1821, handing it
        over to his sons James and Benjamin in 1871. Their partnership
        dissolved, by mutual consent, 2 years later, with James continuing the
        business. These books contain details of customers not only from across
        and just beyond Nottinghamshire and North and Central Lincolnshire as
        far as Gainsborough (19 miles)
        <i
          >(Modern mileages using AA.com, Beverley mileage avoids the Humber
          Bridge.)</i
        >, Mansfield (25m), and Doncaster (38m) and Brigg (39m), as one may
        reasonably expect. They also had many repeat customers from further
        afield, for example; Matlock Bridge (42m), Sheffield (56m), Barnsley
        (56m), Beverley (84m), Kings Lynn (75m) and Chepstow (160m).
      </p>
      <p>
        Collingham had a railway station from 1846, which would have aided
        servicing such a geographically wide clientelle and indeed one entry for
        May 19th 1891 includes 'deducting 10 shares lost on Ry 2s 9d'.
      </p>
    </div>
  </div>
  <div class="row mb-4 mt-4">
    <div class="col-lg-12">
      <img
        src="{% static 'images/thoroton_society/ledger_1.jpeg' %}"
        class="img-fluid"
        alt="Image. 'deducting 10 shares lost on Ry 2s 9d'. 1891."
      />
      <p class="section-image-title mt-2">
        Image. 'deducting 10 shares lost on Ry 2s 9d'. 1891.
      </p>
    </div>
  </div>
  <div class="row mb-4 mt-4">
    <div class="col-lg-12">
      <img
        src="{% static 'images/thoroton_society/ledger_2.jpeg' %}"
        class="img-fluid"
        alt="Image. Extract from Day Book 1883. Clifton and North Scarle are nearby villages."
      />
      <p class="section-image-title mt-2">
        Image. Extract from Day Book 1883. Clifton and North Scarle are nearby
        villages.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 section-content mt-1">
      <p>
        Some of the entries show that they had trouble with debtors, such as one
        entry which shows Messrs Hydes and Wigfall of 88, Market Place,
        Sheffield going into liquidation and the resultant dividend that Bealby
        received. Hydes and Wigfall appear to have survived as they continued to
        be a Bealby customer.
      </p>
      <p>
        Other debtors were just recalcitrant in paying and had to be taken to
        court including George Crossley, Engineer and Millwright of Doncaster in
        1881 and 1882.
      </p>
    </div>
  </div>
  <div class="row mb-4 mt-4">
    <div class="col-lg-12">
      <img
        src="{% static 'images/thoroton_society/ledger_3.jpeg' %}"
        class="img-fluid"
        alt="Image. Liquidation entry for Messrs Hyde & Wigfall of Sheffield. 1884."
      />
      <p class="section-image-title mt-2">
        Image. Liquidation entry for Messrs Hyde & Wigfall of Sheffield. 1884.
      </p>
    </div>
  </div>
  <div class="row mb-4 mt-4">
    <div class="col-lg-12">
      <img
        src="{% static 'images/thoroton_society/ledger_4.jpeg' %}"
        class="img-fluid"
        alt="Image: Customer Book extract for George Crossley – 1881 & 1882, showing Bealby’s court expenses."
      />
      <p class="section-image-title mt-2">
        Image: Customer Book extract for George Crossley – 1881 & 1882, showing
        Bealby’s court expenses.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 section-content mt-1">
      <p>
        Much more is shown such as payments being made by cheque and Post Office
        Order, also there is a regular note of 2½% discount for cash.
      </p>
      <p>
        There is a wealth of information here that would be worthy of analysis
        at various levels by amateur and student historians, perhaps even for a
        Master’s dissertation or similar. These books would also be of use for
        local, family and agricultural historians and those searching for
        individuals. Dr Dennis Mills used a Bealby Account book for an Open
        University module on Historical Geography in 1983 (unfortunately the
        book 1871 to 1882 that he used, although it is referenced to
        Lincolnshire Archives and the Bealby family, is missing).
      </p>
      <p>
        The data that we have concerning the business is incomplete as there are
        often notes that carriage has been paid, but thus far no carriage costs
        are consistently obvious, neither are costs such as raw materials and
        salaries &c.. I would have thought that details of expenditure would
        have been kept somewhere as between 1871 and 1873 this business was a
        partnership between two brothers, James and Benjamin. So, what we have
        appear to be a partially complete set of customer focussed ‘working
        documents’.
      </p>
      <p>
        The documents that we do have exist as individual jpeg files sorted in
        the order that they occurred in the original books. They amount to some
        2,000 images, totalling some 8gb in size. Being hand written by various
        hands they are not electronically searchable. Those books, from which
        some of these images originate, that remain in our archives are too
        fragile to be handled.
      </p>
      <p>
        If you are interested in accessing these files for analysis please
        contact Jeremy Lodge through our web page at
        http://collingham-history.org.uk/contact-us/ All that we ask is to be
        fully credited in your references and for a copy of the results of your
        analysis and reports that we can place in our archives and for
        permission to publish abstract of your findings in our journal The
        Irregular.
      </p>
      <p>
        Or perhaps, you may have something thing that would supplement our
        knowledge of this business, plough making and other rural crafts?
      </p>
      <p>
        The business premises which George Bealby built in 1858 remain within
        the family and are currently the home of Collingham’s Cat Asylum
        Brewery.
      </p>
      <p>
        Adjoining South Collingham was also the home of a successful plough
        making business which belonged to George Moss. Unfortunately, although
        the site of his premises was recently redeveloped, we know very little
        of George and his ploughs.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>Two Bealby Ploughs, a Wagon and Plough making Tools</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 section-content mt-1">
      <p>
        Four of the account books that we have been given permission to
        photograph and publish belong to Alan Bealby of West Sussex, who also
        has in his possession of two 120-year-old wooden beam ploughs, a 130-
        year-old forest cart and a range of tools from this company that his
        great, great, great grandfather George Bealby founded. Alan is looking
        for a permanent home for these items, preferably as a gift to a
        not-forprofit organisation who can put them on open display.
      </p>
    </div>
  </div>
  <div class="row mb-4 mt-4">
    <div class="col-lg-12">
      <img
        src="{% static 'images/thoroton_society/forest_cart.jpeg' %}"
        class="img-fluid"
        alt="Forest Cart"
      />
      <p class="section-image-title mt-2">Forest Cart</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 section-content mt-1">
      <p>
        Unfortunately, although we have contacts who may undertake the light
        renovation work desired of some of the items, our Society does not have
        the facility to either store or exhibit them. Alan has approached a
        number of people who we have suggested without success and has been left
        with the feeling that Nottinghamshire does not care for its agricultural
        heritage
        <i
          >(Including; Newark and Sherwood District Council National Civil War
          Centre and Newark Museum, Lincolnshire County Council Museum of Rural
          Life. Nottingham City Council Museum Service & Wollaton Hall,
          Nottingham. Nottinghamshire County Council.)</i
        >
        This is illustrated by one response that Alan received which said
      </p>
      <p>
        <i
          >...following a peer review of the Industrial Collections and
          subsequent rewriting of the Collections Policy, we were advised that
          farming and agriculture should not be a major concern of our
          collections. Following this advice we did dispose or transfer the
          majority of our un-named and unprovenanced machinery …. One of the few
          named items that we have retained is a Bealby plough which is now part
          of display storage at our off-site store.'</i
        >
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 section-content mt-1">
      <p>
        If you are interested in accessing these files for analysis please
        contact Jeremy Lodge through our web page at
        http://collingham-history.org.uk/contact-us/ All that we ask is to be
        fully credited in your references and for a copy of the results of your
        analysis and reports that we can place in our archives and for
        permission to publish an abstract of your findings in our journal The
        Irregular. Or perhaps, you may have something that would supplement our
        knowledge of this business and plough making?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 section-content mt-1">
      <p>
        <strong
          >Jeremy Lodge (Trustee, Collingham and District Local History
          Society)</strong
        >
      </p>
      <p style="text-align:center;">
          <i class="fa-solid fa-envelope"></i>&nbsp;https://www.thorotonsociety.org.uk/publications/articles/bealby.htm
      </p>
    </div>
  </div>
</div>
<button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top">
  <i class="fas fa-arrow-up"></i>
</button>

{% endblock %} {% block postloadjs %} {{ block.super }}

<!--Scroll to top feature-->
<script>
  //Scroll to Top
  function scrollFunction() {
    var myScrollToTopBtn = document.getElementById("my-scroll-to-top-btn");
    if (window.pageYOffset > 700) {
      myScrollToTopBtn.style.display = "block";
      myScrollToTopBtn.style.visibility = "visible";
    } else {
      myScrollToTopBtn.style.display = "none";
      myScrollToTopBtn.style.visibility = "hidden";
    }
  }

  window.onscroll = function () {
    scrollFunction();
  };

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

{% endblock %}
