{% extends "base.html" %} {% load static %} {% block content %}

<!--Bealby-->
<div class="container-fluid section-gutter-main-header page-bottom-margin">
  <div class="row section-header-gutter-first">
    <div class="col">
      <h4 class="decorated page-header">
        <span>Origin of the name "Bealby"</span>
      </h4>
    </div>
  </div>
  {% for bealby in bealbys %}
  <div class="row">
    <div class="col-lg-6 col-md-6 pt-1 mx-auto">
      {% if bealby.image_1 %}
      <img
        loading="lazy"
        src="{{ bealby.image_1.url }}"
        srcset="{{ bealby.image_1.url }}"
        class="img-fluid"
        alt="{{ bealby.image_description_1 }}"
        width="600"
        height="400"
      />
      {% else %}
      <img
        src="{{ MEDIA_URL }}"
        class="img-fluid mt-5"
        alt="{{ bealby.image_description_1 }}"
      />
      {% endif %}
      <p class="section-title mt-2">
        {{ bealby.image_title_1|default_if_none:"" }}
      </p>
      <p class="section-title-sub">
        {{ bealby.image_description_1|default_if_none:"" }}
      </p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12 section-content">
      <p>{{ bealby.text|safe }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 section-content mt-1">
      <p>{{ bealby.text_2|safe }}</p>
    </div>
  </div>
  {% endfor %}
</div>
<button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top">
  <i class="fas fa-arrow-up"></i>
</button>

{% endblock %} {% block postloadjs %} {{ block.super }}

<!--Scroll to top feature-->
<script>
  //Scroll to Top
  function scrollFunction() {
    var myScrollToTopBtn = document.getElementById("my-scroll-to-top-btn");
    if (window.pageYOffset > 700) {
      myScrollToTopBtn.style.display = "block";
      myScrollToTopBtn.style.visibility = "visible";
    } else {
      myScrollToTopBtn.style.display = "none";
      myScrollToTopBtn.style.visibility = "hidden";
    }
  }

  window.onscroll = function () {
    scrollFunction();
  };

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

{% endblock %}
