{% extends "base.html" %} {% load static %} {% block content %}

<!--Brook House-->
<div class="container-fluid section-gutter-main-header page-bottom-margin">
   <div class="row section-header-gutter">
      <div class="col">
         <h4 class="decorated page-header"><span>Brook House</span></h4>
      </div>
   </div>
   {% for brook_house in brook_houses %}
   <div class="row">
      <div class="col-lg-12 section-content">
         <p>{{ brook_house.text }}
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6 col-md-6 pt-4">
         {% if brook_house.image_1 %}
         <img
            loading="lazy"
            src="{{ brook_house.image_1.url }}"
            srcset="{{ brook_house.image_1.url }}"
            class="img-fluid"
            alt="{{ brook_house.image_description_1 }}"
            width="600"
            height="400"
            />
         {% else %}
         <img
            src="{{ MEDIA_URL }}"
            class="img-fluid mt-5"
            alt="{{ brook_house.image_description_1 }}"
            />
         {% endif %}
         <p class="section-title mt-2">
            {{ brook_house.image_title_1|default_if_none:"" }}
         </p>
         <p class="section-title-sub">
            {{ brook_house.image_description_1|default_if_none:"" }}&emsp
         </p>
      </div>
      <div class="col-lg-6 col-md-6 pt-4">
         {% if brook_house.image_2 %}
         <img
            loading="lazy"
            src="{{ brook_house.image_2.url }}"
            srcset="{{ brook_house.image_2.url }}"
            class="img-fluid"
            alt="{{ brook_house.image_description_2 }}"
            width="600"
            height="400"
            />
         {% else %}
         <img
            src="{{ MEDIA_URL }}"
            class="img-fluid mt-5"
            alt="{{ brook_house.image_description_2 }}"
            />
         {% endif %}
         <p class="section-title mt-2">
            {{ brook_house.image_title_2|default_if_none:"" }}
         </p>
         <p class="section-title-sub">
            {{ brook_house.image_description_2|default_if_none:"" }}&emsp
         </p>
      </div>
   </div>
   {% endfor %}
</div>
<button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!--Scroll to top feature-->
<script>

    //Scroll to Top
    function scrollFunction() {
        var myScrollToTopBtn = document.getElementById("my-scroll-to-top-btn");
        if (window.pageYOffset > 700) {
            myScrollToTopBtn.style.display = "block";
            myScrollToTopBtn.style.visibility = "visible";
        } else {
            myScrollToTopBtn.style.display = "none";
            myScrollToTopBtn.style.visibility = "hidden";
        }
    }

    window.onscroll = function () { scrollFunction() };

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>

{% endblock %}