{% extends "base.html" %}
{% load static %}

{% block content %}

<!---Articles--->
<div class="container-fluid section-gutter-2">
    <div class="row mb-4">
        <div class="col">
            <h4 class="decorated"><span>Invoice Journals</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 section-content">
            <p> We have in our possession two and have been loaned four further account books for Bealby Ploughmakers of North Collingham. These are ‘Day Books’ which show work done for clients on a day-by-day basis, complete with the sums charged. These include for example the costs of ploughs also of individual parts sold, usually plough shares, which the customer would have fitted themselves. There are also books which show similar information which are arranged by client.
                These books show the vast number of customers in Nottinghamshire and Lincolnshire and gives an indication of the number of local smallholders, many of whom are known locally for their other businesses and their community roles.
                George Bealby started his plough making business in 1821, handing it over to his sons James and Benjamin in 1871. On its books are details of repeat customers not only from across and just beyond Nottinghamshire and North and Central Lincolnshire as far as Gainsborough (19 miles)1, Mansfield (25m), and Doncaster (38m) and Brigg (39m), as one may reasonably expect. They also had many repeat customers from further afield, for example; Matlock Bridge (42m), Sheffield (56m), Barnsley (56m), Beverley (84m), Kings' Lynn (75m) and Chepstow (160m). Collingham had a railway station from 1846, which would have aided servicing such a geographically wide clientele and indeed one entry for May 19th 1891 includes 'deducting 10 shares lost on Ry 2s 9d'.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-6 text-center">
            <img src="" class="img-fluid" alt="">
            <p class="section-title mt-2"><i></i></p>
        </div>
        <div class="col-lg-6     text-center">
            <img src="" class="img-fluid" alt="">
            <p class="section-title mt-2"><i></i></p>
        </div>
    </div>
</div>

{% endblock %}v